<div class="primary-text-code">

  <div class="code">
    <div class="code-text">
      <textarea name=”name”></textarea>
    </div>
  </div>
  <div class="memo">
    <div class="memo-text">
      <textarea name=”name”></textarea>
    </div>
  </div>

</div>
